@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto Condensed", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #8c7ae6;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 350px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}
.input-container{
    width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid #7f8fa6;
    border-radius: 10px;
    overflow: hidden;
}

.cityInput{
    flex: 1;
    height: 30px;
    border: none;
    font-size: 16px;
    outline: none;
    padding: 10px;
}

.search-icon{
    padding: 10px;
    height: 30px;
    cursor: pointer;
}

.searchIcon{
    width: 30px;
    object-fit: contain;
}

.icon{
    width: 160px;
    height: 160px;

}

.image{
    margin-top: 20px;
    text-align: center;
    height: 150px;
    margin-bottom: 10px;
}


.temp,.location,.country{
    margin-top:15px;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
}
.temp{
    font-weight: 500;
}
.location{
    color: #d70000;
    font-weight: 400;
    font-size: 40px;
}
.country{
    font-size: 20px;
    color: #888;
    font-weight: 500;
}
.cord{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    text-align: center;
}
.cord div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.cord div span{
    font-size: 14px;
}
.humidity-percent,
.wind-percent,
.cord div span:nth-child(2){
    font-size :18px;
    font-weight: bold;
    color: #666;
    padding-top: 5px;
}

.icons{
    width: 40px;
    height: 40px;
}

.data-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.element{
    text-align: center;
}

.txt{
    font-size: 15px;
    color: #7f8fa6;
    margin-top: 10px;
}
.copyright{
    text-align: center;
    font-size: 12px;
    color: #676767;
}
.copyright span{
    color: #00ccff;
    font-weight: bold33;
}

.city-not-found,.loading-message,.error-message{
    margin-top: 10px;
    color: #888;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}